body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

a {
    color: $font-color;
}

.navbar{
    background-color: $background-color;
    color: $font-color;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}